.image {
    background-image: url("../Resources/index/TanishaBhayani.jpeg");
    width: 350px;
    height: 400px;
    background-size: auto;
    background-repeat:no-repeat;
    background-position: right;
}
